
body{
  background-image: linear-gradient(#fbc2eb, #a6c1ee,#fbc2eb);
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
